extends ../layout

block content
  header.page-header(class=page.headerClass ? page.headerClass : undefined)
    .page-header-inner
      if page.headerImage
        .image
          img.lazyload(src=page.headerImage.fields.file.url data-src=page.headerImage.fields.file.url alt="")
      .content.row
        h1(data-speed=".3")!= page.heading ? page.heading : page.title
        if page.subheading
          h2(data-speed=".2")!= page.subheading
        //- <svg data-speed=".3" width="10rem" height="100%" viewBox="0 0 305 250" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M180.315,0.5l124.02,248.03l-117.82,-49.61l-24.8,-49.6l18.6,-37.21l24.81,49.61l24.8,12.4l-49.61,-99.21l-62,124.01l-117.82,49.61l24.81,-49.61l68.2,-136.41l18.61,37.2l-37.21,74.41l24.8,-12.4l80.61,-161.22Zm-55.8,0l18.6,37.2l-18.6,37.21l-18.6,-37.21l-0.01,0l18.61,-37.2Z" style="fill:#fff;fill-rule:nonzero;"/></svg>
  main.content
    if page.sections
      each section in page.sections
        - var type = section.sys.contentType.sys.id
        section.page-section(class=section.fields.classes ? section.fields.classes : undefined class=section.fields.backgroundImage ? 'has-background-image' : undefined)
          if section.fields.classes && section.fields.classes.indexOf('skewed-bg') !== -1
            .bg
          if section.fields.backgroundImage
            img.background-image(src=section.fields.backgroundImage.fields.file.url, alt="")
          div(class=section.fields.classes && section.fields.classes.indexOf('full-width') !== -1 ? 'clearfix' : 'row')
            .column
              if type == 'pageSection'
                if section.fields.showTitle
                  h3.section-heading!= section.fields.title
                | !{section.fields.content}
              //- if type == 'projectList'
              //-   h3!= section.fields.title
              //-   ul.projects
              //-     each project in section.fields.projects
              //-       li
              //-         a(href=project.fields.slug data-direction="forward" data-color=project.fields.overlayColor)!= project.fields.title
    //- section.page-section
    //-   .row
    //-     .column
    //-       a.button(href="/footer-reveal-js" data-direction="forward" data-color="pink") footer-reveal
    //-       br
    //-       a.button(href="/holiday-search" data-direction="forward") holiday search
    //-       br
    //-       a.button(href="/" data-direction="back") home
