include utils/mixins

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    if title !== 'Home'
      title !{title || error.status} - Iain Andrew
    else
      title Iain Andrew
    if page && page.description
      meta(name="description" content=page.description)
    meta(name="author" content="Iain Andrew")
    link(rel='apple-touch-icon', sizes='180x180', href='https://images.ctfassets.net/v5eaxhcz73sm/67oefCDDoEd8M6VG5TWFdm/fec803822c1b93ea15ab6c911ff13685/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='https://images.ctfassets.net/v5eaxhcz73sm/4fULRixIe4dEv2xdDDSOD5/9b9584d4470d6cc65449debaeab2fc8f/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='https://images.ctfassets.net/v5eaxhcz73sm/6rjDHYI4xTmFwZABHjMWqy/db7883b1bf1648301e22e30afbee4dfb/favicon-16x16.png')
    link(rel='shortcut icon', href='https://assets.ctfassets.net/v5eaxhcz73sm/6e70VXrwwyttRZcTU8sniG/1dd9dcc703b64a23254ad77cb8ddb650/favicon.ico')
    meta(name='theme-color', content='#05d5ff')
    link(rel="stylesheet", href=env === 'production' ? "/css/style.min.css" : "/css/style.css")
    script.
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:739156,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-48617559-6")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-48617559-6');
  body(id=page && page.pageId ? page.pageId : undefined)
    .transition-overlay(data-color=page && page.overlayColor ? page.overlayColor : undefined)
      .hide
        <svg id="logo" width="70" viewBox="0 0 305 250" xmlns="http://www.w3.org/2000/svg"><path d="M180.315,0.5l124.02,248.03l-117.82,-49.61l-24.8,-49.6l18.6,-37.21l24.81,49.61l24.8,12.4l-49.61,-99.21l-62,124.01l-117.82,49.61l24.81,-49.61l68.2,-136.41l18.61,37.2l-37.21,74.41l24.8,-12.4l80.61,-161.22Zm-55.8,0l18.6,37.2l-18.6,37.21l-18.6,-37.21l-0.01,0l18.61,-37.2Z"/></svg>
      .logo
        .logo-1
          svg
            use(xlink:href="#logo")
        .logo-2
          svg
            use(xlink:href="#logo")
    .container
      include ./navigation
      block content
      include ./footer
    script(src=env === 'production' ? "/js/main.min.js" : "/js/main.js")
    //- script(src="/js/main.js")
    block scripts
